.bg-welcome{
    background-image: url("../img/homepage.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.floating-card {
    float: left;
    margin: 5px;
    max-width: 300px;
}
